:root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-950/25 dark:bg-neutral-50/25;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-neutral-950/50 dark:bg-neutral-50/50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-950/80 dark:bg-neutral-50/80;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded bg-transparent opacity-0 transition duration-300 ease-in-out;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-950/50 opacity-100 transition duration-300 ease-in-out dark:bg-neutral-50/80;
}
